[Unit]
Description=Emacs daemon

[Service]
Environment="XAUTHORITY=/run/user/1000/Xauthority"
Environment="DISPLAY=:0"
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target

